
.search-form-input {
    max-width: 200px;
    height: 35px;
    margin-right: 5px;
    padding: 0 1rem;
    border: 1px solid #d5d5d5;
    background: transparent;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
  }
  
  .search-form-btn {
    vertical-align: bottom;
    width: 35px;
    height: 35px;
    margin: 0px;
    padding: 0px;
    background: rgba( 255, 255, 255, .25);
    cursor: pointer;
  }
  .modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }
  .modal__content{
    padding: 90px 60px;
    background-color: #fff;
    width: 490px;
    height: 503px;
  }
  .modal.active{
    opacity: 1;
    pointer-events: all;
  }
  .modal__title{
    text-align: center;
    color: #2e2e2e;
    font-size: 32px;
    font-family: 'PlayfairDisplay', serif;
  }
  .modal__subtitle{
   text-align: center;
   color: #2e2e2e;
   font-family: 'ProximaNova';
   font-size: 16px;
   margin-top: 13px; 
  }
  